@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;

}
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif; */



.card {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #f9f9f9; /* Background color of the card */
}

#addressForm {
  margin-bottom: 0; /* Remove bottom margin to avoid spacing */
}

input[type="text"] {
  width: calc(100% - 72px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 70px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}